#submit{
  font-size:1.5em;
  display:block;
  margin: 2em auto;
  width: 6em;
}
#go{
  margin:0 1em;
}
#myChart{
  padding-bottom:1.5em;
  margin:auto;
}
.student_id{
  position:relative;
  text-align: center;
  top:20%;
  font-size:1.5em; 
}
.module_selection{
  padding:0em 0 2em 1.5em;
  font-size:1.2em;
  min-width:515px;
  text-align:center;
}
.centered{
  position: relative;
  top: 15%;
}
.toggler{
  cursor:pointer;
  font-size:2em;
  padding: 5em;
}
.module{
  padding: 3ex;
  background-color:white;
  display:none;
}
.modules{
  font-family: sans-serif;
  border: solid thin grey;
  font-size:2em;
  margin: auto;
  background-color: white;
  width:50%;
}
.radio_btn{
  min-width:350px;
}
input[type='radio' i] {
  margin: 3px 6px 0px 5px;
}
input[type='radio']+input[type='radio'] {
  margin-left:10%;
}
html, body{
  height:100%;
  padding:0;
  margin:0;
}
body{
  background-color:#eee;
  min-width:420px;
}
table{
  font-family: sans-serif;
  border: solid thin grey;
  margin: auto;
  background-color: #ddd;
}
h1{
  font-size:4em;
}
h5{
  font-size:1.3em;
}
tr{
  background-color:white;
}
td{
  padding: 0 2ex;
  border:1px solid grey;   
}
